<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="riakConfig" type="RiakClient.Config.RiakClusterConfiguration, RiakClient" />
    </configSections>
  <riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="127.0.0.1" pbcPort="8087" poolSize="20"/>
    </nodes>
  </riakConfig>
</configuration>